# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\KerasYOLOv3_Utils\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
